<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          <img src="./assets/bookstore.png"
               class="img-responsive center-block"
               style="max-height:600px;padding-bottom:50px" />
        </div>
  
        <div class="text-center">Developed by:</div>
        <div class="text-center">
          <h3>Academia Programatorilor</h3>
        </div>        
        
      </div>
    </div>
  </div>