<div id="accountDetailsContainer">
    <div class="input-group mb-3">
        <span class="input-group-text">Old Pass</span>
        <input type="text" class="form-control">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">New Pass</span>
        <input type="text" class="form-control">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Repeat Pass</span>
        <input type="text" class="form-control">
    </div>
    <button type="button" class="btn btn-primary">Change Pass</button>
    <button type="button" class="btn btn-secondary" routerLink="/">Go Back</button>
</div>