<div class="product-container">
  <div class="product-title">
    {{ book.title}}
  </div>
  <div class="product-body">
    <div class="product-image">
      <img src="{{ book.coverUrl }} " alt="Card image cap">
    </div>
    <div class="product-details">
      <div class="product-author">Author: {{ book.author }}</div>
      <div class="product-language">Language: {{ book.language }}</div>
      <div class="product-buy"></div>
      <div class="product-rating-price">
        <div class="rating">
          <app-star [rating]='book.review' (ratingOut)="onStarEvent($event)" #childStar></app-star>
          <div *ngIf="starMessage">{{starMessage}}</div>
        </div>
        <div class="price">
          {{ book.price}} {{ book.currency}}
        </div>
      </div>
    </div>
  </div>
</div>
