<div class="product-container">
  <div class="product-title">
    {{ book.title}}
  </div>
  <div class="product-body">
    <div class="product-image">
      <img src="{{ book.coverUrl }} " alt="Card image cap">
    </div>
    <div class="product-details">
      <div class="product-author">Author: {{ book.author }}</div>
      <div class="product-language">Language: {{ book.language }}</div>
      <div class="flex-container padded-box">
        <div class="product-buy">
          <button (click)="addToCart()">Add to cart</button>
        </div>
        <div class="product-edit">
          <button *ngIf="!showEdit" (click)="showEdit = true">Edit</button>
          <button *ngIf="showEdit" (click)="updateBook()">Save</button>
        </div>
      </div>
      <div *ngIf="!showEdit" class="product-rating-price">
        <div class="rating">
          <app-star [rating]='book.review' (ratingOut)="onStarEvent($event)" #childStar></app-star>
          <div *ngIf="starMessage">{{starMessage}}</div>
        </div>
        <div class="price">
          {{ book.price}} {{ book.currency}}
        </div>
      </div>
      <div *ngIf="showEdit" class="product-rating-price edit-box">
        <div class="rating">
          Rating <input type="number" min="1" max="5" step="0.5" [value]="book.review" #rating>
        </div>
        <div class="price">
          Price  <input type="number" min="0" [value]="book.price" #price>
        </div>
      </div>
    </div>
  </div>
</div>
