<span class="input-group mb-3 ratingContainer">
    <span class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Give Rating</span>
    </span>
    <input type="text" class="form-control" placeholder="Rating" aria-label="Rating" aria-describedby="basic-addon1">
</span>
<span class="input-group mb-3 ratingContainer">
    <span class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Change Currency</span>
    </span>
    <input type="text" class="form-control" placeholder="Currency" aria-label="Currency"
        aria-describedby="basic-addon1">
</span>
<button class="btn btn-primary ratingContainer" (click)="toggleDetails(toggleDetailsScreen)">Update Details</button>