<form role="form">
    <div class="form-group">
        <label for="email">Title:</label>
        <input type="text" class="form-control" id="title">
    </div>
    <div class="form-group">
        <label for="email">Author:</label>
        <input type="text" class="form-control" id="author">
    </div>
    <div class="form-group">
        <label for="email">Image Url:</label>
        <input type="text" class="form-control" id="coverUrl">
    </div>
    <div class="form-group">
        <label for="email">Price:</label>
        <input type="text" class="form-control" id="price">
    </div>
    <div class="form-group">
        <label for="email">Currency:</label>
        <input type="text" class="form-control" id="currency">
    </div>
    <div class="form-group">
        <label for="email">Review:</label>

        <select class="form-control" id="review">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="email">Language:</label>
        <select class="form-control" id="language">
            <option value="romanian">Romanian</option>
            <option value="english">English</option>
        </select>
    </div>
    <div class="form-group">
        <label for="email">Publisher:</label>
        <input type="text" class="form-control" id="publisher">
    </div>
    <div class="form-group">
        <label for="email">Publication Date:</label>
        <input type="date" class="form-control" id="publicationDate">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>