:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  display: flex;
  background: transparent;
  width: 20vw;
  height: 100vh;
  position: absolute;
  left: 10vw;
  top: 4vw;
  height: 90vh;
}
