<div id="itemContainer">
    <ul>
        <button class=""
        <li *ngFor="let category of displayItems">
            <div *ngIf="userData.preferences[category.type]">
                <h1 class="categoryTitle">
                    {{category.type}}
                    <input type="text" (keyup)="filterProducts($event.target.value.toLocaleLowerCase(),category.type)"
                        class="filterBox" placeholder="Filter {{category.type}}" />
                </h1>
                <div *ngFor="let item of category.data" class="itemContainer">
                    <div class="isLoading" (isHidden)="false">
                        <div *ngFor="let detail of ObjectKeys(item)">
                            <img *ngIf="detail === 'coverUrl'" [src]="item.coverUrl" (load)="onImageLoad($event)" class="hidden"/>
                            <div *ngIf="detail !== 'coverUrl' && detail !== 'id'" class="details">
                                {{detail.substring(0,1).toUpperCase() + detail.substring(1,detail.length)}} :
                                {{item[detail]}}
                            </div>
                        </div>
                        <button type="button" class="btn btn-light cartOperation"
                            (click)="addItemsToCart(-1,item.id,$event)">-</button>
                        <span class="cartOperation">0</span>
                        <button type="button" class="btn btn-light cartOperation"
                            (click)="addItemsToCart(1,item.id,$event)">+</button>
                    </div>
                    <button type="button" class="btn btn-light" (click)="toggleClass($event)">Details</button>
                </div>
            </div>
        </li>
    </ul>
</div>