.notify-badge{
    position: absolute;
    background: rgb(175, 55, 105);
    height:2rem;
    top:1rem;
    right:1rem;
    width:3rem;
    text-align: center;
    line-height: 2rem;;
    font-size: 1rem;
    border-radius: 5%;
    color:white;
    border:1px solid rgba(190, 130, 102, 0.616);
}