<div class="header">
  <h1>My Book Store</h1>
  <app-product-filter *ngIf="isLoggedIn"></app-product-filter>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Wellcome {{userName}}</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/books']" routerLinkActive="router-link-active">Book List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/notebooks']" routerLinkActive="router-link-active">Notebook List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/cart']" routerLinkActive="router-link-active">
            Cart <span>{{label}}</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active">Login </a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLinkActive="router-link-active" (click)="onLogout()">Logout </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
