<div class="product-container">
  <div class="product-title">
    {{ notebook.title}}
  </div>
  <div class="product-body">
    <div class="product-image">
      <img src="{{ notebook.coverUrl }} " alt="Card image cap">
    </div>
    <div class="product-details">
      <div class="product-author">Size: {{ notebook.size }}</div>
      <div class="product-language">Pages: {{ notebook.pages }}</div>

      <div class="product-rating-price-buttons" *ngIf="!showEdit">
        <div class="product-buttons">
          <button (click)="addToCart()">Add to cart</button>
          <button *ngIf="!showEdit" (click)="showEdit = true">Edit</button>
        </div>
        <div class="product-rating-price">
          <div class="rating">
            <app-star [rating]='notebook.review' (ratingOut)="onStarEvent($event)" #childStar></app-star>
            <div *ngIf="starMessage">{{starMessage}}</div>
          </div>
          <div class="price">
            {{ notebook.price}} {{ notebook.currency}}
          </div>
        </div>
      </div>

      <app-product-edit *ngIf="showEdit" [product]="notebook" (productSave)="saveNotebook($event)"></app-product-edit>
    </div>
  </div>
</div>
