<div class="card h-100">
  <span *ngIf="index % 2==0" class="notify-badge">NEW</span>
  <img class="card-img-top" [src]='notebook.coverUrl' alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ notebook.title }} </h5>
    <p class="card-text">{{ notebook.description }}</p>
    <p>Size: {{ notebook.size }}</p>
    <p>Price: {{ notebook.price }}</p>
    <p>Pages: {{ notebook.pages }}</p>
  </div>
  <div class="card-footer">
    <app-star [rating]='notebook.review' (ratingOut)="onStarEvent($event)"></app-star>
    <div *ngIf="starMessage">{{starMessage}}</div>
  </div>
</div>
