.componentContainer {
    width: 90vw;
    position: absolute;
    height: 90vh;
    left: 6vw;
    box-sizing: border-box;
    font-size:.75vw
}


.book {
    position: relative;
    display: inline-block;
    margin-right: 2vw;
    width: 10vw;
    height: 30vh;
    top: 55vh;
    left: 4vw;
}

.active {
    position:fixed!important;
    top:10vh;
    left:5vw
}

.active > .front,
.active > .front img {
    position: absolute!important;
    width: 25vw!important;
    height: 65vh!important;
}

.active > .back {
    left: 25vw !important;
    opacity: 1;
    width: 30vw;
    transform: rotateX(0deg);
    background: white;
    pointer-events: all;
    height: 65vh;
}

.inactive {
    top:101vh;
    opacity:0
}

.defaultBook {
    top: 55vh!important;
    opacity:1;
    overflow:hidden
}

.front,
.back,
img {
    position: absolute;
    width:10vw;
    height:30vh;
    top:0;
    left:0;
    transition:.5s;
    overflow:hidden
}

.front {
    border:2px solid darkgrey
}

.back {
    transform:rotateY(180deg);
    background:white;
    height:30vh;
    border:2px solid green;


}

.back {
    opacity:0;
    pointer-events: none
}

.back div {
    position: relative;
    top:6.5vh;
    margin-top:.25vh;
    user-select: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    left: 1vw;
    width: 85%;
    margin-bottom: .5vw;
    font-weight: bold
}


.book:not(.active):hover > .front {
    transform:rotateY(180deg);

}

.book:not(.active):hover > .front img {
    opacity:0
}

.book:not(.active):hover > .back {
    transform: rotateY(0);
    height:30vh;
    opacity:1;
    pointer-events: all
}

.book:not(.active):hover > .back {
    transform: rotateY(0);
    height:30vh
}

.bookDetail .btn {
    position: absolute;
    top:1vh;
    left:1.5vw;
    width:7vw;
    z-index:5;
    font-size:.9vw
}

.bookRating {
    top: 0!important;
    height:5vh!important;
    left:0!important;
    width:100%!important;
    transition:.25s;
    overflow:hidden
}

.activeDetailsScreen {
    width: 100%!important;
    height: 30vh!important;
}

.starRating {
    z-index: 9999;
    position: absolute;
    top: 0vh;
    right: 0vh;
    color: yellow;
}