<div class="continer">
    <h2 class="bg-info text-white p-3">Books</h2>
    <div class="row">
        <div class="col-md-2">Filter:</div>
        <div class="col-md-4">
            <input type="text" [(ngModel)] = 'filter'>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Filtered by: {{ filter }}
        </div>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-2">Filter:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)] ='filter' >
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                Filtered by: {{ filter }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                Mesaj by:  {{starMessage}}
            </div>
        </div>
        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th>
                            <button 
                            (click) ='toggleImage()'
                            class="btn btn-outline-primary btn-sm">
                               {{ showImage ? 'Hide' : 'Show' }} Image
                            </button>
                        </th>
                        <th>Author</th>
                        <th>Title</th>
                        <th>Language</th>
                        <th>Publisher</th>
                        <th>Price</th>
                        <th>Currency</th>
                        <th>Review</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of filteredBooks">
                        <td>
                            <img 
                            *ngIf = 'showImage'
                            [src]="book.coverUrl" alt="test" [style.width.px]='sizeWidth' [style.margin.px]='margin'>
                        </td>
                        <td>{{book.author}}</td>
                        <td>{{book.title}}</td>
                        <td>{{book.language}}</td>
                        <td>{{book.publisher}}</td>
                        <td>{{book.price}}</td>
                        <td>{{book.currency}}</td>
                        <td>
  pmesaj = 'mesaj de la parinte';
  pmesaj = 'mesaj de la parinte';
                            <app-star [childProprietate]='book.review' [mesajcopil]='pmesaj' [dynamicdata]="dynamicdata" [rating] = 'book.review' 
                            (ratingOut) = "onStarEvent($event)" #childStar  #aaaa ></app-star>
                            <br>
                            {{starLabel}}
                            <br>
                            <button type="button" (click)="start()">Start</button>
                            <br>
                            {{aaaa.hello}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>

       <div class="row">
        <div class="col-md-6">
            Mesaj la click:{{ starMessage }}
        </div>
    </div>
    <div class="row">
        <div class=" col-sm-6 col-md-4 col-lg-4 d-flex align-items-stretch p-2" *ngFor="let b of filteredBooks ; let i = index">
            <div class="card">
                <img class="card-img-top h-100" src="{{ b.coverUrl }} " alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> {{ b.title}}</h5>
                    <p class="card-text">
                        Author:  {{ b.author }} <br>
                        Publisher: {{ b.publisher }} <br>
                        Date: {{ b.publicationDate | date: 'dd-MM-yyyy'}} <br>
                        Language: {{ b.language }}
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"> Price: {{ b.price}} {{ b.currency}} {{b.review}}</small>
                    <app-star [rating] = 'b.review'  (ratingOut) = "onStarEvent($event)" #childStar></app-star>
                    {{message}}

                    {{starLabel}}
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="books.length >3"> View more books >></div>
</div>
