.book{
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto
}
.poza{
    width: 40%;
    max-width: 400px;
}
.descriere{
    width: 60%;
    max-width: 600px;
}
.text_right{
    text-align: right
}