<div class="container" *ngIf="!isLoading">
  <h1>Book Form</h1>
  <form (ngSubmit)="saveBook()" [formGroup]="bookForm">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" formControlName="title">
      <div [hidden]="title.valid || title.untouched" class="alert alert-danger">
        Title is required
      </div>
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" class="form-control" id="author" formControlName="author">
      <div [hidden]="author.valid || author.untouched" class="alert alert-danger">
        Author is required
      </div>
    </div>

    <div class="form-group">
      <label for="language">Language</label>
      <select class="form-control" id="language" formControlName="language">
        <option *ngFor="let lng of languages" [value]="lng.value">{{lng.label}}</option>
      </select>
      <div [hidden]="language.valid || language.untouched" class="alert alert-danger">
        Language is required
      </div>
    </div>

    <div class="form-group">
      <label for="publisher">Publisher</label>
      <input type="text" class="form-control" id="publisher" formControlName="publisher">
    </div>

    <div class="form-group">
      <label for="publicationDate">Publication Date</label>
      <input type="date" class="form-control" id="publicationDate" formControlName="publicationDate">
    </div>

    <div class="form-group">
      <label for="coverUrl">Cover URL</label>
      <input type="url" class="form-control" id="coverUrl" formControlName="coverUrl">
      <div [hidden]="coverUrl.valid || coverUrl.untouched" class="alert alert-danger">
        Cover URL is required
      </div>
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" class="form-control" id="price" formControlName="price">
      <div [hidden]="price.valid || price.untouched" class="alert alert-danger">
        Price is required
      </div>
    </div>

    <div class="form-group">
      <label for="currency">Currency</label>
      <select class="form-control" id="currency" formControlName="currency">
        <option *ngFor="let crn of currencies" [value]="crn.value">{{crn.label}}</option>
      </select>
      <div [hidden]="currency.valid || currency.untouched" class="alert alert-danger">
        Currency is required
      </div>
    </div>

    <div class="form-group">
      <label for="review">Review</label>
      <input type="number" min="1" max="5" class="form-control" id="review" formControlName="review">
      <div [hidden]="review.valid || review.untouched" class="alert alert-danger">
        Review is required
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="false">Submit</button>
    <button type="reset" class="btn btn-default">Reset</button>
  </form>
</div>

{{bookForm.value | json}}
